header {
    display: flex;
    flex-flow: column;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 25px;
}

.container-header {
    background: #888888;
    padding: 26px 0;
}

.container-bottom {
    border-bottom: 1px solid #888888;
    padding: 12px 0;
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper-logo {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 48px;
    line-height: 56.25px;
    font-weight: 700;
    color: #fff;
    margin-left: 38px;
}

.nav-menu a {
    color: #fff;
    font-size: 24px;
    line-height: 28.13px;
    font-weight: 800;
    margin-right: 40px;
    text-decoration: none;
}

.nav-menu a:hover{
    text-decoration: underline;
}


.line, .shop {
    font-size: 18px;
    line-height: 21.09px;
    color: #888888;
    font-weight: 400;
}

.shop {
    text-decoration: none;
}
.shop:hover {
    text-decoration: underline;
}

.line {
    margin-right: 62px;
}


