*{box-sizing: border-box;}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}

p{
    margin: 0;
}

.header{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    color: #fff;
    position: relative;
}

.container{
    height: 141px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#888;
}

.header .container.fixed {
    position: fixed;
}

.logo-text{
    margin-left: 38px;
    font-size: 48px;
    font-weight: 700;
}

.container-inner{
    display: flex;
    align-items: center;
    color: #fff;
}

.logo{
    padding-left:79px;
}

.nav-wrapper{
    display: flex;
    align-items: center;
}

.nav-menu{
    font-size: 24px;
    font-weight: 800;
}

.menu{
    margin-left: 60px;
    color:#fff;
    text-decoration: none;
}

.menu:hover{
    text-decoration: underline;
}

.cart{
    margin-left: 50px;
    position: relative;
    padding-right: 50px;
}

.cart-inner{
    display: none;
    position: absolute;
    text-align: center;
    background: #F34141;
    border-radius: 20px;
    width: 32px;
    height: 32px;
    top: 0;
    left: 25px;
}

.number{
    color: #fff;
    font-size: 24px;
    font-weight: 800;
}

.header-botton{
    text-align: center;
    padding: 12px 0;
    border-bottom: 1px solid #888;
}

.line{
    margin-right: 62px;
    font-size: 18px;
    color: #888;
}

.shop{
    font-size: 18px;
    color: #888;
    text-decoration: none;
}

.shop:hover{
    text-decoration: underline;
}

.section{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    color: #fff;
}

.card{
    display: flex;
    justify-content: space-around;
    margin-top: 85px;
}

.card-two{
    display: flex;
    justify-content: space-around;
    margin-top: 113px;
}


.product{
    width: 378px;
    height: auto;
    text-align: center;
    padding-top: 38px;
    border: 1px solid #888888;
    border-radius: 30px;
}

.text-card{
    margin: 0 auto;
    width: 286px;
    height: 83px;
    margin-top: 29px;
}

.product span{
    margin-top: 29px;
    font-size: 24px;
    color: #888;
}

.button-cart{
    background: #888;
    opacity: 0;
    border: 1px solid #888;
    border-radius: 10px;
    width: 276px;
    height: 62px;
    font-size: 24px;
    color: #fff;
    visibility: hidden;
    cursor: pointer;
    transition: .25s ease-in-out;
    margin-bottom: 33px;
}

.product:hover .button-cart{
    visibility: visible;
    opacity: 1;
    box-shadow: 0px 0px 22px 6px rgba(34, 60, 80, 0.17);
}